<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nombre: {{user.nombre}}</h2>
    <h2>Apellido: {{user.apellido}}</h2>
    <h2>Edad: {{user.edad}}</h2>
    <h2>Correo: {{user.correo}}</h2>
    <h2>Telefono: {{user.telefono}}</h2>

    {{#if isAdmin}}
        {{#each comidas}}

            <div>
                <p>{{this.nombre}}</p>
                <p>{{this.precio}}</p>
            </div>

        {{/each}}

    {{else}}

    <p>No eres Admin</p>

    {{/if}}

    <div>
        <p>Todo listo para trabajar con websockets</p>
        <label for="idMensaje">Ingrese un texto</label>
        <input type="text" name="mensaje" id="idMensaje"></input>
        <input type="button" value="Enviar Mensaje" id="btnEnviar"></input>
    </div>

    <div id="idMensajes">
        
    </div>

    <div id="divRespuesta">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>